MONGODB_URI=mongodb+srv://nikhilrajs1504_db_user:7xDflA4wOFUYdHGz@cluster0.cpm4tue.mongodb.net/ai_career_advisor?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=afinterns2024hackathon_super_secret_key

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=nikhilrajs1504@gmail.com
EMAIL_PASS=ujsjttatlkhaiehq
EMAIL_FROM=nikhilrajs1504@gmail.com

GROQ_API_KEY=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

FRONTEND_URL=http://localhost:3000

PORT=5000